[Desktop Entry]
Encoding=UTF-8
Name=TuxScape2
Comment=SpaceTux adventure
StartupNotify=false
Exec=tuxscape2
Icon=${SNAP}/meta/gui/tuxscape2.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;KidsGame;Graphics